/*html{
	font-size: 62.5%;
}*/
body {
  background-color: #FAE9CD;
}

header {
  text-align: center;
}

nav {
  background-color: #04303B;
  content: "";
}

section {
  border-bottom: 1px solid #04303B;
  padding: 20px 2.4%;
}

section:last-child {
  border-bottom: 0;
  padding: 20px 2.4%;
}

.section1 input {
  margin: 0 auto;
  display: block;
}

.mainhead {
  font-family: "Lato", sans-serif;
  font-size: 2.25em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #04303B;
}

.subhead {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 5px;
  color: #04303B;
}
