/*html{
	font-size: 62.5%;
}*/

body{
	background-color: $lighttan;
}

header{
	text-align: center;
}

nav{
	background-color: $dark-green;
	content: "";
}

section{
	border-bottom: 1px solid $dark-green;
	padding: 20px 2.4%;
}

section:last-child{
	border-bottom: 0;
	padding: 20px 2.4%;
}

.section1 input{
	margin: 0 auto;
	display: block;
}