.mainhead{
	font-family: $main-font;
	font-size: 2.25em;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
	color: $dark-green;
}

.subhead{
	font-family: $main-font;
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 5px;
	color: $dark-green;
}